<header>
  <nav class="container mx-auto max-w-3xl px-8 pt-2 flex flex-wrap justify-between">
    <div>
      <h1>
        <a href="{{ site.baseUrl }}">{{ site.name }}</a>
      </h1>
      <p>{{site.description}}</p>
    </div>

    <ul class="flex flex-wrap sm:w-32 w-full mt-6 md:justify-between justify-evenly">
      <li>
        <a href="{{ site.baseUrl }}404.html">404</a>
      </li>

      <li>
        <a href="{{ site.baseUrl }}about">About</a>
      </li>
    </ul>
  </nav>
</header>