<div class="grid grid-flow-row grid-cols-3 gap-4 mb-2">
    <a class="tag cats mx-auto" href="{{ site.baseUrl }}tag/cats">cats</a>
    <a class="tag enchiladas mx-auto" href="{{ site.baseUrl }}tag/enchiladas">enchiladas</a>
    <a class="tag beer mx-auto" href="{{ site.baseUrl }}tag/beer">beer</a>
    <a class="tag spirituality mx-auto" href="{{ site.baseUrl }}tag/spirituality">spirituality</a>
    <a class="tag orcas mx-auto" href="{{ site.baseUrl }}tag/orcas">orcas</a>
    <a class="tag stoicism mx-auto" href="{{ site.baseUrl }}tag/stoicism">stoicism</a>
</div>
