---
# site comes from globals/site.json
permalink: "{{ site.jsonfeed.path }}"
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{ site.name }}",
  "home_page_url": "{{ site.url }}",
  "feed_url": "{{ site.jsonfeed.url }}",
  "description": "{{ site.description }}",
  "author": {
    "name": "{{ site.author.name }}",
    "url": "{{ site.url }}"
  },
  "items": [
    {%- for post in collections['postsWithoutDrafts'] | reverse %}
    {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset -%}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "content_html": {% if post.templateContent %}{{ post.templateContent | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ post.date | rssDate }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor %}
  ]
}