@keyframes tag-hover {
  100% {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
  }
}

.tag {
  @apply inline-block px-4 py-2 mr-2 mb-2 text-xs font-bold rounded lowercase text-white;
  border: 1px solid transparent;
}

.tag:hover {
  animation: tag-hover 500ms both;
}

.tag:before {
  content: "#";
}

.tag.cats {
  @apply bg-red-700;
}

.tag.enchiladas {
  @apply bg-yellow-700;
}

.tag.beer {
  @apply bg-blue-700;
}

.tag.spirituality {
  @apply bg-indigo-700;
}

.tag.orcas {
  @apply bg-purple-700;
}

.tag.stoicism {
  @apply bg-pink-700;
}
